@media screen and (min-width: 1280px) {
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 280px;
    border-radius: 10px;
    background-color:#626262;
}
}

@media screen and (min-width: 480px ) and (max-width: 1280px ) {
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 280px;
        width: 100vw;
        border-radius: 10px;
        background-color:#626262;
    }
    }

.button{
    width:170px;
    height:40px;
    color:white;
    border-radius: 15px;
    border:1px;
    font-size:16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.shadowButton{
    width:150px;
    height:50px;
    color:white;
    border-radius: 15px;
    border:1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);    
}
.input{
    width:200px;
    height:30px;
    padding: 10px 20px;
    color:#919191;
    border:1px;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);    

}

.cardWrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:350px;
    height:180px;
    border-radius: 15px;
    background-color: #9B9B9B;
    color:"white";
}
h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;
}
p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: white;
}

.chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:230px;
    width:200px;
}
.itemsWrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    width: 26px;
    height: 8px;

}
.amount{
    font-size:30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.modal{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background-color:#EFEFEF;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 32px 32px;
    opacity: 0.85;
    border-radius: 15px;
}

.ubuntu{
    font-size:30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}